@model SimpleQueue.IdentityServer.Controllers.LoginViewModel

<form asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label>Username</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" value="asdasd" />
    </div>
    <div>
        <button type="submit">
            Sign In
        </button>
    </div>
</form>
