<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>@ViewData["Title"] - SimpleQueue</title>
            <link rel="stylesheet" href="~/css/shared-layout.css" asp-append-version="true" />
        </head>
        <body>
            <header>
                <div class="menu-wrapper">

                    @*<a href="#menu" class="menu-link">  Menu<span class="ico-caret-down right" aria-hidden="true"></span>
                    </a>*@
                    <nav id="menu" role="navigation">
                        <div class="menu">
                            <ul class="menu">
                                <li>
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class=" current-menu-item">
                                    <a asp-controller="Queue" asp-action="Create">Create Queue</a>
                                </li>
                                <li class="has-subnav">
                                    <a href="#">My Queues</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">Owner</a>
                                        </li>
                                        <li>
                                            <a href="#">Participant</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Messages</a>
                                </li>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">My Profile
                                        <img src="~/images/shared/user-profile-icon.svg"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                
            </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
        </body>
    </html>
