@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
$body-font-family: 'Montserrat';

body {
    margin: 0;
    background-color: #83E4C1;
}

.menu-wrapper {
    font-family: $body-font-family;

    nav {
        .menu {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #83E4C1;
                display: flex;
                justify-content: space-around;

                .menu-elements {
                    margin: 20px auto;
                    float: left;

                    a {
                        border-radius: 15px;
                        display: block;
                        color: white;
                        text-align: center;
                        padding: 14px 36px;
                        text-decoration: none;
                        font-size: 22px;
                        line-height: 27px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border: 4px solid #83E4C1;

                        img {
                            margin-left: 12px;
                            width: 40px;
                            height: auto;
                            display: block;
                            float: right;
                        }
                    }

                    a:hover {
                        border: 4px solid white;
                        color: #555555;
                    }
                }

                .has-subnav {
                    display: inline-block;

                    .sub-menu {
                        display: none;
                        position: absolute;
                        background-color: #83E4C1;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        right: 10px;
                        border-radius: 15px;
                        flex-direction: row;
                    }
                }

                .has-subnav:hover {
                    .sub-menu {
                        display: flex;
                        flex-direction: column;

                        li a {
                            padding: 14px 16px;
                            min-width: 200px;
                            margin: 2px;
                            border-radius: 15px;
                            display: block;
                            color: white;
                            text-align: center;
                            padding: 14px 16px;
                            text-decoration: none;
                            font-size: 22px;
                            line-height: 27px;
                            display: flex;
                            align-items: center;
                            position: relative;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            border: 4px solid #83E4C1;
                        }

                        a:hover {
                            border: 4px solid white;
                            color: #555555;
                        }
                    }
                }
            }
        }
    }
}
