@model SimpleQueue.Domain.RequestFeatures.QueueParameters

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home-page.css" asp-append-version="true" />

<div class="main-body">
    <form class="search-field" asp-controller="Queue" asp-action="GetQueues" method="get">
        <div class="input-body">
            <div class="input-background"></div>
            <input class="input-field" placeholder=@ViewLocalizer["Search Queues......"] asp-for="SearchTerm"/>
        </div>
        <button class="join-button">
            @ViewLocalizer["Find"]
        </button>
    </form>

    <div class="information-field">
        <div class="top-text">
            @ViewLocalizer["Streamline your waiting with SimpleQueue"]
        </div>
        <div class="bottom-text">
            @ViewLocalizer["use smart queue service today"]
        </div>
    </div>
</div>

<div class="page-background"></div>