@model SimpleQueue.WebUI.Models.DataTransferObjects.CreateQueueDto

<!DOCTYPE html>
<html>
<head>
    <title>Create queue</title>
    <link rel="stylesheet" href="~/css/create-queue.css" asp-append-version="true" />
</head>
<body>
    <div class="form-back">      
        <form method="post">
            <div>
                <div class="form-wrapper">
                    <label class="label" asp-for="Title">Queue Name</label>
                    <input type="text" asp-for="Title" placeholder="Queue title..." />
                </div>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label class="label" asp-for="Latitude">Latitude</label>
                        <input type="text" asp-for="Latitude" />
                    </div>
                    <div class="form-wrapper">
                        <label class="label" asp-for="Longitude">Longitude</label>
                        <input type="text" asp-for="Longitude"/>
                    </div>
                    <div class="form-wrapper">
                        <label class="label" asp-for="StartTime">Queue time start</label>
                        <input type="datetime-local" asp-for="StartTime"/>
                    </div>
                </div>
                <div class="form-wrapper">
                    <label class="label">Description</label>
                    <textarea asp-for="Description" class="description-field" rows="5" cols="60" placeholder="Queue description....................">

                    </textarea>
                </div>

                <label class="label">Tags</label>
                <div class="tag-group">
                    <div class="tag-body">
                        <input id="tag" class="tag-input" type="text" asp-for="TagsDto" placeholder="tag..."/>
                        <button class="delete-button" type="button" onclick="deleteTag(this)">x</button>
                    </div>
                    <button class="add-button" type="button" onclick="addTag()">
                        +
                    </button>
                </div>

                <div class="form-wrapper">
                    <label class="label" asp-for="Password">Password</label>
                    <input id="password-value" type="text" asp-for="Password" placeholder="Password" disabled />
                </div>
                <div class="form-group-checkbox">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" asp-for="IsChat"> Enable Chat
                            <span class="checkmark1"></span>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" onchange="changeQueuePrivacy()" class="queue-privacy"> Private Queue
                            <span class="checkmark2"></span>
                        </label>
                    </div>
                </div>
                <div class="form-wrapper">
                    <input type="submit" value="Create queue" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    <div class="white-left-back"></div>
    <div class="white-right-back"></div>
    <script src="~/js/create-queue.js" asp-append-version="true"></script>
</body>
</html>